a.nav-link {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Montserrat';
}

@media (max-width:768px) {
  .card-group {
    display: -ms-flexbox;
    display: initial;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}

@media (max-width: 768px) {
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
}

.imags {
  box-shadow: 4px 4px 20px -7px;
}

a {
  color: rgb(245,102,6)!important;
  text-decoration: none;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: rgb(245,102,6);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a:hover {
  color: rgba(245,102,6,0.61);
}

.nav-link:focus, .nav-link:hover {
  color: rgba(245,102,6,0.61)!important;
}

.btn-primary {
  background-color: #000;
  color: #f56606;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  box-shadow: 2px 2px 4px 0px rgb(245,102,6);
}

.btn-primary:hover {
  background-color: #f56606;
  color: #000000;
}

.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(0,0,0,.5);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(245,102,6)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 576px) {
  p {
    text-align: justify;
    margin-top: 16px;
    font-size: 16px;
    font-family: 'Montserrat';
  }
}

@media (max-width: 576px) {
  p {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    font-family: 'Montserrat';
  }
}

@media (min-width: 330px) {
  .h2, h2 {
    font-size: calc(1.325rem + .9vw);
    padding-top: 25px;
    text-align: center;
    padding-bottom: 15px;
  }
}

.carousel-control-next-icon {
  background-color: var(--bs-white);
  font-weight: bold;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f56606'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-color: var(--bs-white);
  font-weight: bold;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f56606'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

div.carousel-caption {
  background: rgba(0,0,0,0.4);
  border-radius: 8px;
}

@media (min-width: 992px) {
  #form {
    box-shadow: 2px 2px 12px -5px;
    border-radius: 8px;
    padding: 30px;
    margin: 45px;
  }
}

@media (min-width: 992px) {
  .video {
    /*width: 516px;*/
    height: 315px;
  }
}

